{% extends 'base.html'%}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hall/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sahne - {{ hall.name }}</title>
</head>
<body>
    {% block content %}
    <h1 align="center">{{ hall.name }}</h1>

    <table align="center">
        <tbody align="center">

            {% for key, row_list in hall.seats.items %}
                {% if key != "count" %}
                    {% for row_dict in row_list %}
                        {% for row, nums in row_dict.items %}
                            {% if row == "-" %}
                                <tr class="walk"><td class="walk"><br></td></tr>
                            {% else %}
                                <tr class="seat">
                                    <td class="row"><p>{{ row }}</p></td>
                                    <td class="walk"></td>
                                    {% for num in nums %}
                                        {% if num == "-1" %}
                                            <td class="walk"></td>
                                        {% else %}
                                            <td class="seat"><p>{{num}}</p></td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="walk"></td>
                                    <td class="row"><p>{{ row }}</p></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <tr><td>{{row_list}}</td></tr>
                {% endif %}
            {% endfor %}

        </tbody>

    </table>
    {% endblock content %}

</body>
</html>