{% extends 'base.html'%}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hall/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sahneler</title>
</head>
<body>
    <h1>Sahneler</h1>
    {% block content %}
    <ul>
    {% for hall in halls %}
        <li><a href="/hall/{{ hall.id }}/"><h2>{{ hall.name }}</h2></a></li>
    {% endfor %}
        <br>
        {% if user.is_superuser %}<h3>Sahne Ekle</h3>{% endif %}
    </ul>
    {% endblock %}
</body>
</html>