{% extends 'base.html'%}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Bilet Satış Sistemi</title>
</head>
<body>
    <h1>Company Bilet Satış Sistemi</h1>
    {% block content %}
    {% if user.is_authenticated %}
    <ul>
        <li><a href="/event/"><h2>Etkinlikler</h2></a></li>
        <li><a href="/hall/"><h2>Sahneler</h2></a></li>
        <li><a href="/admin/"><h2>Admin</h2></a></li>
        <br>
    </ul>
    {% else %}
        <h2>Giriş yapmanız lazım!</h2>
        <a href="{% url 'login' %}"><h2>Giriş Yap</h2></a>
    {% endif %}
    {% endblock %}
</body>
</html>