* {
    text-align: center;
    align-content: center;
    align: center;
}

tr.seat {
    border-style: solid;
    height: 40px;
    align-content: center;
    text-align: center;
}

td.seat0, td.seat1 {
    border-style: solid;
    width: 30px;
    align-content: center;
    text-align: center;
}

td.seat1 {
    background-color: darkorange;
}

tr.walk {
    height: 10px;
}

td.walk {
    width: 10px;
}

td.row {
    border-style: solid;
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: center;
    background: lightgrey;
    text-transform: uppercase;
}

