{% load static %}
{% load extras %}

<link rel="stylesheet" type="text/css" href="{% static 'day/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gün - {{ day.date|date:'d-m-Y H:i' }}</title>
</head>
<body>

<h1 align="center">{{ day.event }}</h1>
<h1 align="center">{{ day.date|date:'d-m-Y H:i' }}</h1>

<table align="center">
    <tbody align="center">

        {% for _, row_list in day.event.hall.seats.items %}
            {% for row_dict in row_list %}
                {% for row, nums in row_dict.items %}
                    {% if row == "-" %}
                        <tr class="walk"><td class="walk"><br></td></tr>
                    {% else %}
                        <tr class="seat">
                            <td class="row"> {{ row }} </td>
                            {% for num in nums %}
                                {% if num == "-1" %}
                                    <td class="walk"></td>
                                {% else %}
                                    <td class="seat{{tickets_dict|keyvalue:row|keyvalue:num|keyvalue:1}}"><a href="click/{{tickets_dict|keyvalue:row|keyvalue:num|keyvalue:0}}" >{{num}}</a></td>
                                {% endif %}
                            {% endfor %}
                            <td class="row"> {{ row }} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

    </tbody>

</table>
</body>
</html>
