{% extends 'base.html'%}
{% load static %}
{% load extras %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'day/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gün - {{ day.date|date:'d-M H:i' }}</title>
    <script>
        function sell_clicked(e)
        {
            if(confirm('Bu biletleri alıyorsunuz: \n'+e.toString())) {
                location.href='sell/';
            }
        }

        function cancel_clicked()
        {
            var e = document.getElementById('tickets').value;
            return confirm('Bu biletleri iptal ediyorsunuz: \n'+e.toString());
        }

    </script>
</head>
<body>
<div align="left">
    <a href="/event/{{day.event.id}}"><h3 style="padding: 1 10px;">{{ day.event }}</h3></a>
</div>

<div>
<table class="day" align="left">
    <tbody align="center">
    <tr class="days">
        {% for d in days %}
        <td class="day{% if d.id == day.id %}1{% else %}0{% endif %}" ><a href="/day/{{d.id}}/" align="center"><h4>{{ d.date|date:'d F H:i' }}</h4></a></td>
        {% endfor %}
    </tr>
    </tbody>
</table>
</div>
<br>
<div align="left">
    <button class="sell" type="submit" onclick="return sell_clicked('{% for ticket in reserved_tickets %} {{ticket.row}}-{{ticket.num}} : {{ticket.price}} \n{% endfor %} Total: {{temp_total}}');">Satış Yap</button>
</div>


<div style="float: right;">
    <form action="cancel/" onsubmit="return cancel_clicked()" method="post">
        {% csrf_token %}
        <label for="tickets">İptal Edilecek Biletler (a-32, b-25...): </label>
        <textarea id="tickets" rows = "1" cols = "20" name = "tickets" required></textarea>
        <input type="submit" value="İptal Et">
    </form>
</div>


<br>

<div align="center">
<table>
    <tbody>

        {% for _, row_list in day.event.hall.seats.items %}
            {% for row_dict in row_list %}
                {% for row, nums in row_dict.items %}
                    {% if row == "-" %}
                        <tr class="walk"><td class="walk"><br></td></tr>
                    {% else %}
                        <tr class="seat" style="background-color: hsl( {{ tickets_dict|keyvalue:row|keyvalue:'-1'|keyvalue:1 }} ,40%,60%);">
                            <td >{{tickets_dict|keyvalue:row|keyvalue:'-1'|keyvalue:0}}</td>
                            <td class="row"><p>{{ row }}</p></td>
                            <td class="walk"></td>
                            {% for num in nums %}
                                {% if num == "-1" %}
                                    <td class="walk"></td>
                                {% else %}
                                    <td ><button class="seat{{tickets_dict|keyvalue:row|keyvalue:num|keyvalue:1}}{% if user_id == tickets_dict|keyvalue:row|keyvalue:num|keyvalue:2 %}1{% else %}0{% endif %}" onclick="location.href='click/{{tickets_dict|keyvalue:row|keyvalue:num|keyvalue:0}}'" ><p>{{num}}</p></button></td>
                                {% endif %}
                            {% endfor %}
                            <td class="walk"></td>
                            <td class="row"><p>{{ row }}</p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

    </tbody>
</table>
    <br>
    <h2>SAHNE</h2>

</div>



{% endblock content %}
</body>
</html>