button.sell {
    font-size: 25px;
    background-color: crimson;
    border-radius: 5px;
}

button.sell:hover {
    background-color: darkred;
}

table.day {
    margin-left: 10px;
}

td.day1, td.day0 {
    align-content: center;
    text-align: center;
    vertical-align: center;
    font-size: 18px;
    padding: 5px;
    border-right: 1px solid;
    border-top: 1px solid;
    border-radius: 5px;
}

td.day0 {
    border-bottom: 1px solid;
}

td.day1 {
    background-color: lightblue;
}

button.seat10 {
    background-color: gray;
}

button.seat11 {
    background-color: darkorange;
}

button.seat20, button.seat21 {
    background-color: crimson;
}

button.seat11:hover {
    background-color: orangered;
}

tr.walk {
    height: 20px;
    width: 20px;
}


td.walk {
    height: 20px;
    width: 20px;
}

td.row {
    border: solid;
    width: 20px;
    height: 20px;
    background: lightgrey;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
}
.row {
    --bs-gutter-x: 0;
}

tr.seat {
    align-content: center;
}

td.seat {
    border: solid;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}

p {
    text-align: center;
    align: left;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
}

button.seat00, button.seat10, button.seat01, button.seat11, button.seat20, button.seat21 {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}

button.seat00:hover, button.seat01:hover, button.seat11:hover {
    background-color: darkgray;
}
